<h1>Liste des événements</h1>

<% @events_array.each_with_index do |event, i| %>
<p>Evénement n°<%= i + 1 %> : <%= event.title %></p>
<p>Date de l'événement : <%= event.start_date %></p>
<p>Durée de l'événement : <%= event.duration %> min</p>
<p>Prix : <%= event.price %></p>
<p>Organisateur de l'événement : <%= event.administrator.first_name %> <%= event.administrator.last_name %></p>
<p></p>
<span class="badge badge-pill badge-primary"><a href="<%= event_path(event.id) %>">Voir l'événement </a></span></br>
<br/><br/>
<% end %>

